# Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import init.carrier.rc

on early-init
    mkdir /firmware 0771 system system
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones

on fs
    mount_all fstab.qcom

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/bootdevice/by-name/cache
    mount ext4 /dev/block/bootdevice/by-name/cache /cache nosuid nodev barrier=1

    wait /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1
    mkdir /persist/data 0700 system system
    restorecon_recursive /persist

    wait /dev/block/bootdevice/by-name/modem
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro context=u:object_r:firmware_file:s0,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
    write /sys/kernel/boot_adsp/boot 1

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/hbtp 0766 system system
    mkdir /data/misc/dts 0770 media audio
    chown system system /sys/afe_properties/cfg_name
    chown system system /sys/afe_properties/hallib_name
    chown system system /sys/afe_properties/wake_up_enable


#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

#enable zram
on property:ro.config.zram=true
    swapon_all fstab.qcom
    write /proc/sys/vm/swappiness 100

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp -f
   class main
   user root
   group root
   oneshot
   disabled

on property:sys.boot_completed=1
   start qrngp

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

#service aostlmd /system/bin/aostlmd
#   class late_start
#   user system
#   group system net_raw

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service audiod /system/bin/audiod
   class late_start
   user system
   group system

on boot
    start rmt_storage
    insmod /system/lib/modules/adsprpc.ko
# access permission for secure touch
    chmod 0660 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch
    chmod 0660 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot
#Lenovo-sw chenyb1 20150706 for thermal dynamic
on property:persist.perf.thermal=1
    write /sys/private/thermal_bm 1

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log qcom_diag

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log qcom_diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag qcom_diag log inet
   disabled

service imscmservice /system/bin/imscmservice
   class main
   user system
   group radio net_raw diag qcom_diag log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start imscmservice

service ppd /system/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    chown root system /sys/class/power_supply/bms/current_now
    chown root system /sys/class/power_supply/bms/voltage_ocv
    chmod 0664 /sys/class/power_supply/bms/current_now
    chmod 0664 /sys/class/power_supply/bms/voltage_ocv
    start vm_bms
    load_all_props
    start qcom-post-boot

service hbtp /system/vendor/bin/hbtp_daemon
    class main
    user root
    group root
    disabled

service dts_configurator /system/bin/dts_configurator
    class main
    user system
    group system
    oneshot

#lenovo-sw weiweij added		
    chown system system /sys/class/power_supply/ext-charger/fast_charger_is_engineermode		
    chown system system /sys/class/power_supply/ext-charger/otg_usb_short		
    chmod 0664 /sys/class/power_supply/ext-charger/fast_charger_is_engineermode		
    chmod 0666 /sys/class/power_supply/ext-charger/otg_usb_short		
#lenovo-sw weiweij end

 #lenovo-sw chenglong1 add for flash driver testing		
    chown system shell /sys/class/leds/torch-light/flash_drv/flash_factory_testing		
    chown system shell /sys/class/leds/torch-light/flash_drv/torch_factory_testing		
    chown system shell /sys/class/leds/torch-light/flash_drv/flash_duration_testing		
    chmod 0660 /sys/class/leds/torch-light/flash_drv/flash_factory_testing		
    chmod 0660 /sys/class/leds/torch-light/flash_drv/torch_factory_testing		
    chmod 0660 /sys/class/leds/torch-light/flash_drv/flash_duration_testing		
    restorecon /sys/class/leds/torch-light/flash_drv/flash_factory_testing		
    restorecon /sys/class/leds/torch-light/flash_drv/torch_factory_testing		
    restorecon /sys/class/leds/torch-light/flash_drv/flash_duration_testing		
    #lenovo-sw add end

#begin lenovo add by wengjun1@lenovo.com		
    chown system system /sys/board_properties/tpd_suspend_status		
    chown system system /sys/board_properties/tpd_glove_status		
#end lenovo add by wengjun1@lenovo.com		
#begin lenovo add by houdz1@lenovo.com		
	chmod 0664 /sys/class/leds/button-backlight/brightness		
	chown system system /sys/class/leds/button-backlight/brightness		
	chmod 0664 /sys/class/leds/test-led/brightness		
	chown system system /sys/class/leds/test-led/brightness		
	chmod 0664 /sys/class/leds/rgbled/brightness		
	chown system system /sys/class/leds/rgbled/brightness		
	chmod 0664 /sys/class/leds/rgbled/trigger		
	chown system system /sys/class/leds/rgbled/trigger		
	chmod 0664 /sys/bus/i2c/devices/6-0036/dimming_step_time		
	chown system system /sys/bus/i2c/devices/6-0036/dimming_step_time		
	restorecon /sys/class/leds/button-backlight/brightness		
	restorecon /sys/class/leds/test-led/brightness		
        restorecon /sys/class/leds/rgbled/brightness		
#end lenovo add by houdz1@lenovo.com		
#lenovo-sw caoyi1 add for sensor calibration 20151222 begin		
	chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x		
	chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x		
	chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y		
	chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y		
	chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z		
	chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z		
	restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x		
	restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y		
	restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z		
	chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1		
	chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1		
	chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2		
	chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2		
	restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1		
	restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2		
	chmod 0664 /persist/gsensor_cali_val_x		
	chown system system /persist/gsensor_cali_val_x		
	chmod 0664 /persist/gsensor_cali_val_y		
	chown system system /persist/gsensor_cali_val_y		
	chmod 0664 /persist/gsensor_cali_val_z		
	chown system system /persist/gsensor_cali_val_z		
	restorecon /persist/gsensor_cali_val_x		
	restorecon /persist/gsensor_cali_val_y		
	restorecon /persist/gsensor_cali_val_z		
	chmod 0664 /persist/cali_param_1		
	chown system system /persist/cali_param_1		
	chmod 0664 /persist/cali_param_2		
	chown system system /persist/cali_param_2		
	restorecon /persist/cali_param_1		
	restorecon /persist/cali_param_2		
#lenovo-sw caoyi1 add for sensor calibration 20151222 end

#lenovo-sw weiweij added for fast_charger_sw fast charger switch dameon		
service fast_charger_sw /system/bin/fast_charger_sw		
    class  main		
    user root		
    seclabel u:r:fast_charger_sw:s0		
#lenovo-sw weiweij added for fast_charger_sw fast charger switch dameon end

#lenovo-sw, chenzz3, added fingerprint daemon service, begin		
#synaptics fingerprint service		
    chmod 0755 /system/bin/vfmService
    chmod 0660 /dev/vfsspi
    chown system system /dev/vfsspi
    mkdir /data/validity 0775 system system
    mkdir /dev/validity 0775 system system
	start fingerprintd
on property:sys.listeners.registered=true
    start vfmservice

service vfmservice /system/bin/vfmService		
    user system		
    group system		
    class main		
    disabled

#fingerpirntd		
service fingerprintd /system/bin/fingerprintd		
    class late_start		
    user system		
#lenovo-sw, chenzz3, added fingerprint daemon service, end
